{% load i18n %}
{% load product_tags %}

{% block content %}
    {#<section class="well well-blank">#}
    {#    <div class="sub-header">#}
    {#        <h3>{{ promotion.name }}</h3>#}
    {#    </div>#}

    {{ promotion.description|safe }}

    {#    <ul class="row">#}
    {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card">
                {% render_product product %}
            </div>
        </div>
    {% endfor %}
    {#    </ul>#}

    {#    {% if block.link_url %}#}
    {#        <a href="{{ block.link_url }}">{% trans "See more" %}</a>#}
    {#    {% endif %}#}
    {#</section>#}
{% endblock %}
